<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace：指定接口类是哪个
-->
<mapper namespace="com.example.mapper.PowerMapper">



    <resultMap id="powerXmlMap" type="com.example.entity.Power">

        <!--主键字段-->
        <id column="power_id" property="id"></id>

        <!--非主键字段-->
        <result column="power_name" property="name"></result>
        <!--配置关联-->
        <collection property="roles" ofType="com.example.entity.Role">
            <id column="id" property="id"></id>

            <!--非主键字段-->
            <result column="name" property="name"></result>
        </collection>


    </resultMap>

    <select id="findPowerAll" resultMap="powerXmlMap">
        SELECT r.*, p.id AS power_id, p.name AS power_name
        FROM `power` p LEFT JOIN role_power rp ON p.id = rp.power_id
        LEFT JOIN role r ON rp.power_id = r.id
    </select>



</mapper>
